.App {
  text-align: center;
  background-color: #282c34;
  color:  #ffffff;
  font-size: calc(10px + 2vmin);
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .Header {
    background-color: #ffffff;
  }

  .App-logo {
    height: 5vmin;
    margin: 1vmin 5vmin;
  }

  .App-link {
    color: #09d3ac;
  }

  .Categories {
    font-size: calc(10px + 2vmin);
    color:  #ffffff;
    font-weight: 600;
    width: 85%;
    padding: 20px 100px 0px;
    .Category {
      .Category-title {
        margin: 10px;
        text-align: left;
      }
      .Movie {
        margin: 10px;
        .Movie-title {
          width: 90%;
          overflow-wrap: break-word;
          font-size: calc(10px + 1vmin);
          margin-block-end: 0;
        }
        .Poster {
          max-width: 90%;
        }
      }
      .slick-prev {
        left: -50px;
        top: 40%;
      }
      .slick-next {
        top: 40%;
      }
      .slick-prev:before, .slick-next:before {
        font-size: 50px;
      }
      .slick-dots li.slick-active button:before {
        color:  #ffffff;
      }
    }
  }
}
