.App {
  text-align: center;
  background-color: #282c34;
  color:  #ffffff;
  font-size: calc(10px + 2vmin);
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .header {
    background-color: #ffffff;
  }

  .App-logo {
    height: 5vmin;
    margin: 1vmin 5vmin;
  }

  .App-link {
    color: #09d3ac;
  }

  .categories {
    font-size: calc(5px + 2vmin);
    color:  #ffffff;
    font-weight: 600;
    width: 85%;
    padding: 20px 100px 0px;
    .category {
      .category-title {
        margin: 10px;
        text-align: left;
      }
      .movie {
        margin: 10px;
        .movie-title {
          margin-left: auto;
          margin-right: auto;
          width: 85%;
          overflow: hidden;
          font-size: calc(10px + 1vmin);
          margin-block-end: 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .poster {
          max-width: 100%;
          height: 200px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .slick-dots li button:before { 
        opacity: .5;
      }
      .slick-prev {
        left: -50px;
        top: 40%;
      }
      .slick-next {
        top: 40%;
      }
      .slick-prev:before, .slick-next:before {
        font-size: 50px;
      }
      .slick-dots li.slick-active button:before {
        color:  #ffffff;
      }
    }
  }

  .Movie-details {
    text-align: left;
    font-size: calc(5px + 1vmin);
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
    .synopsis {
      font-size: calc(9px + 1vmin);
      hr {
        border-top: 3px solid rgb(138, 187, 172);
      }
    }
    .review {
      .author {
        font-weight: 700;
      }
    }
  }
}
