.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.Header {
  background-color: #ffffff;
}

.App-logo {
  height: 10vmin;
  margin: 1vmin 5vmin;
}

/* maybe delete this */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Poster {
  max-width: 100%;
}

.Category-title {
  text-align: left;
}